.container {
  max-width: 1320px;
  padding: 0 15px;
  margin: 0 auto;
}

a {
  display: inline-block;
}

button {
  cursor: pointer;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 30px;
}

body {
  font-family: 'Century Gothic';
  font-style: normal;
  font-weight: 400;
  font-size: 17px !important;
  line-height: 21px !important;
  color: #444444;
  overflow-x: hidden;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.title {
  font-family: 'Dela Gothic One', cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 55px;
  text-transform: uppercase;
  color: #332455;
}

.s-title {
  font-family: 'Dela Gothic One';
  font-size: 17px;
  line-height: 25px;
  text-transform: uppercase;
  color: #332455;
}

.line {
  background: linear-gradient(270deg, #a79cff -2.33%, #cf16c4 98.33%);
  padding: 17px 0;
  &-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-title {
    font-family: 'Century Gothic';
    font-weight: 700;
    font-size: 17px;
    line-height: 21px;
    color: #ffffff;
  }
  &-link {
    color: #fff;
    padding: 0 56px;
    & + .line-link {
      border-left: 1px solid #ffffff;
    }
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
}
