@import 'libs/reset';
@import 'libs/slick.scss';
@import 'libs/swiper-bundle';
@import 'libs/magnific-popup.scss';

.mfp-zoom-in .mfp-with-anim {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8); }
 
.mfp-zoom-in.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
 
.mfp-zoom-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1); }
 
.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8; }
 
.mfp-zoom-in.mfp-removing .mfp-with-anim {
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0; }
 
.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0; }
  
.mfp-zoom-in.mfp-bg {
  background-color: rgba(#332455, 0.7);
}
.mfp-zoom-in.mfp-removing.mfp-bg {
  background-color: rgba(#332455, 0.7);
}
.mfp-zoom-in.mfp-ready.mfp-bg {
  background-color: rgba(#332455, 0.7);
}

.th-popup {
  .mfp-close {
    display: none !important;
  }
  margin: 0 auto;
  img {
    margin: 0 auto; 
  }
}
.photo-popup {
  .mfp-close {
    display: none !important;
  }
  margin: 0 auto;
  img {
    margin: 0 auto;
    max-height: 70vh;
  }
}
.image-popup {
  display: none;
}
.type-popup {
  .mfp-close {
    display: none !important;
  }
  background-color: #fff;
  border-radius: 20px;
  max-width: 650px;
  margin: 0 auto;
  padding: 40px;
  position: relative;
  .close-popup {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
  }
  &__image {
    margin-right: 30px;
    flex: none;
    width: 205px;
    height: 175px;
    border-radius: 20px;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  &__title {
    margin-bottom: 20px;
  }
  &__box {
    display: flex;
    margin-bottom: 30px;
  }

  &__input {
    outline: none;
    background: linear-gradient(270deg, rgba(231, 180, 255, 0.35) 0%, rgba(237, 205, 254, 0) 100%);
    border: 1px solid rgba(172, 142, 249, 0.5);
    box-sizing: border-box;
    border-radius: 20px;
    width: 47%;
    margin: 0 5px;
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #444;
    padding: 10px 20px;
    margin-bottom: 20px;

    &::placeholder {
      font-family: 'Century Gothic';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      color: #9c84bb;
    }
  }
  &__form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}