@media (max-width: 1320px) {
  .work {
    &__item {
      max-width: 305px;
      padding: 25px 8px;
      margin: 0 10px;
      margin-bottom: 46px;
    }
  }
}
@media (max-width: 1290px) {
  .line {
    &-link {
      padding: 0 19px;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }
  .top {
    background-position: -685px;
  }
  .type {
    &__inner {
      justify-content: center;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
    }
    &__item {
      display: block;
      padding-left: 0;

      .s-title {
        font-size: 16px;
      }
    }
    &__item-image {
      position: relative;
      width: 100%;
      height: 225px;
    }
    &__item-title {
      text-align: center;
      margin-bottom: 10px;
    }
    &__item-button {
      font-size: 15px;
      line-height: 18px;
      padding: 10px;
      width: 100%;
      display: flex;
      justify-content: center;
    }
    &__item-price {
      margin-bottom: 20px;
      text-align: center;
    }
  }
  .benefits {
    &__item {
      flex-direction: column;
      align-items: center;
      text-align: center;
      max-width: 307px;
    }
    &__item-image {
      margin: 0;
      margin-bottom: 15px;
    }
  }
  .photo {
    &__form {
      display: block;
    }
    &__form-title {
      br {
        display: none;
      }
      margin-bottom: 20px;
    }
  }
  .photo {
    &__items {
      position: relative;
      padding-left: 57px;
      display: block;
    }
    &__items-line {
      order: -1;
      position: absolute;
      left: 0;
      top: 0;
      margin: 0;
      img {
        display: none;
      }
      .media-1000 {
        display: block;
      }
    }
    &__items-col:first-child {
      .photo__item-title,
      .photo__item-text {
        text-align: left;
      }
      .photo__item-icon {
        margin-right: 20px;
        margin-left: 0;
      }
      .photo__item-info {
        order: 1;
      }
    }
    &__item {
      margin-bottom: 40px;
    }
    &__item-title {
      margin-bottom: 10px;
    }
  }
  .contacts {
    &__wrapper {
      background-position: -250px 0;
    }
  }

  .portfolio {
    .line .container {
      display: flex;
    }
    .line-arrow {
      display: block !important;
      flex: none;
    }
    .line-inner {
      justify-content: center;
    }
    .line-link {
      padding: 0 9px;
    }
    &__slide {
      grid-gap: 20px;
    }
  }
}

@media (max-width: 1000px) {
  .title {
    font-size: 32px;
    line-height: 46px;
  }
  .header__logo {
    margin-right: 40px;
  }
  .top {
    &__info {
      margin-top: 55px;
    }
    &__info-form {
      margin-bottom: 20px;
    }
    &__info-box {
      display: block;
    }
  }
  .line {
    display: flex;
    justify-content: center;
    &-title {
      display: none;
    }
    &-link {
      padding: 0 30px;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }
  .benefits {
    &__item {
      max-width: 235px;
    }
  }
  .photo {
    &__form {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    &__form-title {
      width: 100%;
    }
    &__form-input {
      width: 48%;
      margin: 0 5px;
      margin-bottom: 20px;
    }
    &__item {
      min-height: 100px;
    }
    &__items-line {
      order: -1;
      position: absolute;
      left: 0;
      top: 0;
      margin: 0;
      img,
      .media-1000 {
        display: none;
      }
      .media-768 {
        display: block;
      }
    }
  }
  .portfolio {
    .line-inner {
      width: calc(95vw + 5px) !important;
      overflow: hidden;
    }
    .line-links {
      width: 90vw !important;
    }
    .line-link {
      padding: 0;
    }
  }
}

@media (max-width: 950px) {
  .header__info-text {
    display: none;
  }
  .type__inner {
    grid-template-columns: repeat(2, 1fr);
  }
  .work {
    &__item {
      max-width: 47%;
      width: 100%;
      align-items: center;
      &:last-child {
        max-width: 100%;
        width: 100%;
      }
    }
  }
  .contacts {
    &__wrapper {
      background-image: url('../images/global/contacts-map-768.jpg');
      background-position: center;
    }
  }
}
@media (max-width: 768px) {
  body {
    font-size: 15px !important;
    line-height: 18px !important;
  }
  .s-title {
    font-size: 15px;
    line-height: 22px;
  }
  .top {
    background-image: url('../images/global/top-bg-768.jpg');
    background-position: center;
  }
  .header__top-mail {
    margin-right: 20px;
  }
  .header__menu-link + .header__menu-link {
    margin-left: 30px;
  }
  .top {
    padding: 20px 0;

    .title {
      font-size: 28px;
      line-height: 41px;
    }
  }
  .title {
    font-size: 20px;
    line-height: 29px;
  }
  .benefits {
    margin: 60px 0;
  }
  .benefits__inner {
    flex-wrap: wrap;
    justify-content: center;
  }
  .benefits__item {
    margin-bottom: 20px;
    max-width: 320px;
  }
}

@media (max-width: 745px) {
  .line {
    display: none;
  }
}

@media (max-width: 685px) {
  .header__top-address {
    display: none;
  }
  .header__top-contacts {
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .header__info-link {
    width: 70px;
    height: 35px;
    padding: 0;
    border-radius: 15px;
    &::before {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    span {
      display: none;
    }
  }
  .top__title {
    line-height: 120%;
    span {
      font-size: 15px;
      line-height: 22px;
    }
  }
  .work {
    &__item {
      max-width: 100%;
      width: 100%;
    }
  }
}

@media (max-width: 630px) {
  .type__inner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .type__item {
    max-width: 400px;
    width: 100%;
  }
  .contacts {
    .mobile-image {
      display: block;
      max-height: 410px;
      margin-bottom: 20px;
      img {
        object-fit: cover;
        object-position: 0;
        width: 100%;
        height: 410px;
      }
    }
    &__wrapper {
      padding: 0;
      background: #fff;
    }
    &__box {
      max-width: 106%;
      width: 106%;
      border-radius: 0;
      padding: 0;
      margin: 0 -15px;
      padding: 0 15px;
      padding-bottom: 20px;
      border-bottom: 1px solid rgba(156, 132, 187, 0.5);
    }
    &__head {
      justify-content: center;
      margin-bottom: 30px;
    }
    &__links {
      margin-bottom: 30px;
    }
  }
}
@media (max-width: 590px) {
  .header__menu {
    display: none;
  }
  .header__burger {
    display: block;
    margin-left: 23px;
    cursor: pointer;
    span:nth-child(2),
    span:first-child,
    span:last-child {
      transition: all 0.3s;
    }
    &.active {
      span:nth-child(2) {
        opacity: 0;
      }
      span:first-child {
        transform: translateY(10px) rotate(225deg);
      }
      span:last-child {
        transform: translateY(-10px) rotate(-225deg);
        width: 28px;
      }
    }
    span {
      display: block;
      width: 28px;
      height: 4px;
      border-radius: 2px;
      background-color: #ac8ef9;
      margin-bottom: 6px;

      &:last-child {
        margin-bottom: 0;
        width: 18px;
        margin-left: auto;
      }
    }
  }
  .top {
    min-height: 90vh;
    background-image: url('../images/global/top-bg-320.jpg');
    background-position: bottom;
    &__info {
      margin-top: 20px;
      margin-left: -5px;
    }
    &__info-title,
    &__info-form {
      display: none;
    }
    &__list-item {
      margin-bottom: 10px;
    }
  }
  .benefits {
    margin-top: 20px;
    &__info {
      display: block;
    }
  }
  .photo {
    &__title {
      font-size: 18px;
    }
    &__image {
      margin: 0 -15px;
      margin-bottom: 20px;
      img {
        display: none;
      }
      img.media-360 {
        display: block;
        object-fit: cover;
        width: 100%;
      }
    }
    &__form {
      display: block;
    }
    &__form-input {
      margin: 0;
      margin-bottom: 10px;
      width: 100%;
    }
    &__form-button {
      width: 100%;
      padding: 10px;
    }
    &__items {
      padding: 0;
    }
    &__items-line {
      display: none;
    }
    &__item-icon {
      width: 38px;
      height: 38px;
    }
    &__item-text {
      font-size: 13px;
      line-height: 16px;
    }
  }
  .contacts {
    &__head-link {
      padding: 8px 18px;
      &:first-child {
        padding-right: 18px;
      }
    }
  }
  .footer {
    font-size: 12px;
    line-height: 15px;
    text-align: center;
  }
}
